#bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.profilepic{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;

}

@media (max-width: 430px) {
  .profilepic {
    background-size: contain; 
    background-position: left center ;
  }
}
.shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  .shadow-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
