#myName {
  width: 22rem;
  height: 4rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 3rem;
  left: 3rem;
}
.container{
  width:3 rem;
  font-size: 1.5rem;
  display: inline-block;
}
h1{
  font-size: 1.8rem;
}
.typed-out{
  width :2rem;
  overflow: hidden;
  border-right: .15rem solid white;
  white-space: nowrap;
  animation: 
  typing 3s steps(30, end) forwards;

  font-size: 1.5rem;  
}
@keyframes typing {
  from { width: 0 }
  to { width: 66% }
}

h2 {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 1100px) {
  #myName {
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: 2.5rem;
    top: 2rem;
  }
  .container{
    font-size: 0.8rem;
    display: inline-block;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 56% }
  }
  h1 {
    font-size: 0.8rem;
  }
  .typed-out{   
    font-size: 0.7rem;
     }
  h2,
  h3,
  p {
    font-size: 0.7rem;
  }
}
