.skill-menu {
  width: 19rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25rem;
  transform: translateY(-50%);
  right: 15vw;
  align-items: flex-end;
}

.skill-item {
  height: 3.7rem;
  width: 13rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.skill-title {
  font-size: 1rem;
  padding-right: 0.2rem;
}

.skill-item.activeSkill .skill-title {
  font-size: 1.5rem;
}

.activeSkill {
  border-radius: var(--radius-left);
  cursor: default;
}

.skill-item.activeSkill:nth-child(1) {
  background: linear-gradient(270deg, #ffffff00, var(--purple) 70%);
}

.skill-item.activeSkill:nth-child(2) {
  background: linear-gradient(270deg, #ffffff00, var(--purple) 70%);
}

.skill-sub-container {
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  color:white;
}

@media (max-width: 1100px) {
  .skill-item.activeSkill .skill-title {
    font-size: 1rem;
  }

  .skill-sub-container {
    margin-top: 4rem;
    gap: 0.2rem;
    
  }
}

@media (max-width: 700px) {
  .skill-menu {
    top: 25%;
  }
}
